body {
  height: 100dvh;
}

.bg-custom {
  background-color: rgb(39, 52, 92);
}

.nav-link {
  opacity: 0.75;

  border-left: 4px solid transparent;
}

.nav-link:hover,
.nav-link:focus {
  opacity: 1;

  border-left-color: white;
}

.answer-badge {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1.5rem;
  height: 1.5rem;

  background-color: rgba(0,0,0,0.2);
}

.navbar {
  width: 100px;
}

.container-answer-bg-green {
  background-color: rgb(183,247,154);
}

.container-answer-bg-red {
  background-color: rgb(255,163,164);
}

.container-answer:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.05);
}

.bg-success, .bg-danger {
  color: white;
}

.btn-primary-share {
  width: 9rem;
}

.width-20 {
  width: 20rem;
}

.width-32 {
  width: 32rem;
}

.color-orange {
  color: orange;
}
